@font-face {
  font-family: "LobsterTwo";
  src: url("fonts/LobsterTwo-Regular.ttf");
}

@font-face {
  font-family: "AmaticSC";
  src: url("fonts/AmaticSC-Regular.ttf");
}

@font-face {
  font-family: "Inconsolata";
  src: url("fonts/Inconsolata-Medium.ttf");
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  font-family: "AmaticSC", Arial, sans-serif;
}

* {
  outline: none !important;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
