body {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
}

*:focus-visible {
  outline: none !important;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
